.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1223px;
  max-height: 70px;
  max-width: 100vw;
}
.header-icons {
  margin: 0 7px;
  justify-self: center;
}
